<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1 class="error-h1">Wrong Place</h1>
    <img src="<img src="https://via.placeholder.com/50x50" alt="placeholder img" class="img-fluid" />
    " alt="Error Image" class="img-fluid">
    
</body>
</html>